body {
	background-image: linear-gradient(to right, #59acff, #ff8285);
}

h1 {
    font-size: 30px;
}

#logo {
  height: 240px;
  width: 60%;
}

#rock {
  background-color: #008CBA;
  border: none;
  color: black;
  padding: 19px 43.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Serif;
}

#paper {
  background-color: #ffff66;
  border: none;
  color: black;
  padding: 19px 43.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Serif;
}

#scissors {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 19px 43.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Serif;
}

#reset {
  margin-top: 3px;
  background-color: #7c7c7c;
  border: none;
  color: black;
  padding: 18px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Serif;
}

.result {
  width: 422.5px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 3px;
  text-align: center;
  line-height: 24px;
  font-family: Serif;
  padding: 2px 2px 2px 2px;
  font-size: 25px;
  border: 13px double gray;
  margin: 6px;
}

#rock:hover {
  background-color: white; 
  color: black; 
  border: 4px solid #008CBA;
}

#paper:hover {
  background-color: white; 
  color: black; 
  border: 4px solid #ffff66;
}

#scissors:hover {
  background-color: white; 
  color: black; 
  border: 4px solid #f44336;
}

#reset:hover {
  background-color: white; 
  color: black; 
  border: 4px solid #7c7c7c;
}